extends ../layout.pug
include ../mixins/movie.pug
block content 
    div.video-grid
        each movie in movies 
            +movie(movie)
        else
            span=!keyword ? "" : "No movie found"
block script     