.video__data {
    margin-top: 30px;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
    gap: 10px;
    .video__title {
        font-size: 26px;
        margin: 0px 10px;
    }
    .video__owner {
        display: flex;
        justify-content: space-between;
        width: 40px;
        margin: 8px;
        .video__owneravatar {
            float: left;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .video__ownername {
            margin: auto;
            margin-left: 10px;
        }
    }
    ul {
        margin: 0px 10px;
        li {
            float: left;
            margin-left: 5px;
            font-size: 14px;
            font-weight: 600;
            color: rgb(60, 149, 233);
            text-transform: uppercase;
        }
    }
}

.edit-or-delete {
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    a {
        text-decoration: none;
    }
    button {
        background: none;
        border: 1px solid rgb(121, 119, 119);
        border-radius: 5px;
        color: rgb(22, 21, 21);
        display: block;
        margin: 10px;
        padding: 5px;
        position: relative;
        text-transform: uppercase;
    }
    button:hover {
        color: #f1f1f1;
        background-color: rgba(255, 71, 71, 0.959);
    }
}

.video__add-comments{
    margin-left: 50px;
    margin-bottom: 30px;
    width: 90%;
    textarea{
        margin-top: 10px;
        width: 90%;
        height: 50px;
        resize: none;
        border: none;
        border-bottom: teal 1px solid;
    }
    #commentForm{
        margin-left: 50px;
        margin-top: 25px;
    }
    .loggedinuser__avatar{
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    #commentSubmit{
        position:absolute;
        width: 80px;
        height: 40px;
        margin-left: 10px;
        margin-top: 15px;
        font-size: 14px;
        text-align: center;
        border: none;
        cursor: pointer;
    }
    #commentSubmit:hover{
        color: white;
        background-color: rgb(77, 77, 255);
    }
}

.video__comments {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 50px;
    .video__comment {
        border-radius: 9999px;
        background-color: white;
        color: black;
        margin-bottom: 20px;
    }
    ul {
        li {
            margin-left: 5px;
            font-size: 14px;
            font-weight: 600;
            color: rgb(60, 149, 233);
            text-transform: uppercase;
        }
    }
    .commentowner__avatar{
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .comment-text{
        display: flex;
        justify-content: space-between; 
        margin-bottom: 15px;
    }
    .delete-comment{
        cursor:pointer;
        float: right;
    }
}


.line {
    border: 0.1px rgba($color: $bg, $alpha: 0.2) solid;
}

p {
    font-size: 15px;
    margin: 10px;
    width: 100%
}

.contentbox {
    margin: 5px;
    padding-left: 0px;
    color: rgb(100, 99, 99);
}