.profile__data {
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    img {
      margin-bottom: 10px;
    }
    h3 {
      font-size: 30px;
      text-align: center;
    }
    #edit-profile{
      width: 150px;
      height: 40px;
      margin-top: 40px;
      font-size: 14px;
      text-align: center;
      border: none;
      cursor: pointer;
    }
    #edit-profile:hover{
      color: white;
      background-color: rgb(255, 0, 0);
    }
}