button {
    all:unset;
    padding: 10px;
    border: 1px solid;
    background-color: blueviolet;
    height: 10px;
    font-size: 5px;
    margin: auto;
    text-align: center;
    line-height: 0px;
}
