doctype html
html(lang="en")
  include ./partials/head.pug
  body 
    include ./partials/header.pug
    main 
        a(href=`/`) Home
        br
        a(href=`/upload`) Upload
        block content 
    include ./partials/footer.pug
  block script 
    
  