include ./mixins/message.pug
doctype html
html(lang="en")
  include ./partials/head.pug
  body 
    include ./partials/header.pug
    if messages.error
      +message("error", messages.error)
    main 
        a(href='/') Home
        br
        a(href='/movies/upload') Upload
        block content 
    include ./partials/footer.pug
  block script 
  //script(src="/output/js/main.js")
    
  