include ./mixins/message.pug
doctype html
html(lang="en")
  include ./partials/head.pug
  body 
    include ./partials/header.pug
    if messages.error
      +message("error", messages.error)
    main 
      block content 
    include ./partials/footer.pug
  script(src="/output/js/main.js")
  block script 
    
  