form(method="POST", enctype="multipart/form-data").upload__form
    label(for="video") Movie File
    input(type="file", accept="video/*", required, id="video", name="video")

    label(for="thumb") Thumbnail File
    input(type="file", accept="image/*", required, id="thumb", name="thumb") 

    label(for="title") Title
    input(type="String", placeholder="title", name="title", required, value=movie.title)
    label(for="description") Description
    input(type="String", placeholder="description", name="description", required, value=movie.description)
    label(for="summary") Summary
    input(type="String", placeholder="summary", name="summary", required, value=movie.summary)
    label(for="genre") Genre
    input(type="String", placeholder="genre", name="genre", required, value=movie.genre.join())
    input(type="submit", value="Edit", required).submitBtn