form(action="/search").search__form
    input(type="String", placeholder="Search by title", name="title")
    input(type="number", placeholder="Filter by year", name="year")
    input(type="number", placeholder="Filter by rating", name="rating")
    input(type="submit", value="Search")