form(method="POST")
    input(type="String", placeholder="title", name="title", required)
    input(type="number", placeholder="id", name="id", required)
    input(type="String", placeholder="description", name="description", required)
    input(type="String", placeholder="summary", name="summary", required)
    input(type="number", placeholder="year", name="year", required)
    input(type="number", placeholder="rating", name="rating", required)
    input(type="String", placeholder="genre", name="genre", required)
    input(type="submit", value="Upload", required)