form(method="POST", enctype="multipart/form-data").upload__form
    label(for="video") Movie File
    input(type="file", accept="video/*", required, id="video", name="video")
    
    label(for="title") Title
    input(type="String", placeholder="title", 
    name="title", required)

    label(for="thumb") Thumbnail File
    input(type="file", accept="image/*", required, id="thumb", name="thumb")
    
    label(for="description") Description
    input(type="String", placeholder="description", name="description", required)
    label(for="summary") Summary
    input(type="String", placeholder="summary", name="summary", required)
    //- label(for="year") Released year
    //- input(type="number", placeholder="year", name="year", required)
    //- label(for="rating") Rating
    //- input(type="number", placeholder="rating", name="rating", required)
    label(for="genre") Genre
    input(type="String", placeholder="genre", name="genre", required)
    input(type="submit", value="Upload", required).submitBtn