extends ../layout.pug
include ../mixins/file.pug
block content
    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="textfile") TextFile
        input(type="file", id="textfile", name="textfile", accept="text/plain")
        input(type="submit", value="Convert", required)

    if data
        p=data

    if files
        each file in files
            +file(file)
