extends ../layout.pug

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(name="name", placeholder="name",  type="text", required, value=user.name)
        input(name="email", placeholder="email", type="text", required, value=user.email)
        input(type="submit", value="Edit Profile", required)

    hr
    a(href="/user/changepassword") Change Password &rarr;